<div class="dropdown" (click)="toggleDropdown()">
  <button class="dropdown-toggle">
    {{ selectedOption || 'Selecciona una opción' }}
    <span class="arrow">
      @if (isOpen) {
        <span>&#9650;</span>
      }
      @if (!isOpen) {
        <span>&#9660;</span>
      }
    </span>
  </button>
  @if (isOpen) {
    <ul class="dropdown-menu">
      @for (option of options; track option) {
        <li (click)="selectOption(option, $event)" [ngClass]="{ selected: selectedOption === option }">
          {{ option }}
        </li>
      }
    </ul>
  }
</div>
