@if (carritoAbierto) {
  <div class="carrito-overlay" (click)="closeCarritoView()"></div>
  <div class="carrito-lista" (mouseover)="resetAutoClose()" (mouseleave)="startAutoClose()">
    <div class="carrito-header">
      <h2 class="carrito-title">Tu Cesta ({{ totalQuantity }})</h2>
      <button mat-icon-button (click)="closeCarritoView()" class="close-button" aria-label="Cerrar carrito">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="carrito-content">
      @if (productos.length > 0) {
        <ul class="product-list">
          @for (producto of productos; track producto) {
            <li class="product-item">
              <div class="product-image-container">
                <img [src]="producto.imageUrl" alt="{{ producto.title }}" class="product-img" />
              </div>
              
              <div class="product-details">
                <div class="product-info-top">
                  <span class="product-name">{{ producto.title }}</span>
                  <button class="remove-btn" (click)="removeProduct(producto)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
                
                <span class="product-variant">{{ producto.tipoSeleccionado.tipo }}</span>
                
                <div class="product-controls">
                  <custom-input-number 
                    [value]="producto.cantidad" 
                    (valueChange)="updateCantidad(producto, $event)" 
                    [typeVisual]="'no-material'" 
                  />
                  <span class="product-price">{{ producto.tipoSeleccionado.price }}€</span>
                </div>
              </div>
            </li>
          }
        </ul>
      } @else {
        <div class="empty-state">
          <custom-icon-svg src="icons/carrito-de-compras.svg" [color]="'#ccc'" [size]="60"></custom-icon-svg>
          <p>Tu cesta está vacía</p>
          <custom-button texto="Ver Productos" tipo="secundario" (clicked)="navigateTo('/productos')"></custom-button>
        </div>
      }
    </div>

    @if (productos.length > 0) {
      <div class="carrito-footer">
        <div class="subtotal-row">
          <span>Subtotal</span>
          <span class="subtotal-price">{{ totalPriceValue }} €</span>
        </div>
        <custom-button texto="Tramitar Pedido" tipo="primario" (clicked)="navigateTo('/carrito')" class="checkout-btn" testId="cart-checkout-btn"></custom-button>
      </div>
    }
  </div>
}
