<footer>
    <div class="footer-content">
      <p>&copy; 2024 Chic & Unique. Todos los derechos reservados.</p>

  
      <div class="social-media">
        <a href="#"><custom-icon-svg src="icons/facebook.png" [color]="'#ffffff'"></custom-icon-svg></a>
        <a href="#"><custom-icon-svg src="icons/instagram.png" [color]="'#ffffff'"></custom-icon-svg></a>
        <a href="#"><custom-icon-svg src="icons/twitter.png" [color]="'#ffffff'"></custom-icon-svg></a>
      </div>
            
      <nav class="footer-nav">
        <a routerLink="/">Inicio</a>
        <a routerLink="/productos">Productos</a>
        <a href="#">Términos de Servicio</a>
        <a href="#">Política de Privacidad</a>
      </nav>
    </div>
  </footer>
  