<header>
  <div id="column1-head">
    <h1>Chic & Unique</h1>
  </div>

  <div id="column2-head">
    <nav>
      <a routerLink="/">Inicio</a>
      <a routerLink="/productos">Productos</a>
      <a routerLink="/metodo-envio">Método de Envío</a>
      <a routerLink="/blog">Blog</a>
    </nav>

    <div
      class="carrito-content"
      (mouseover)="openCarritoView()"
      (mouseleave)="startAutoClose()"
    >
      <div style="margin-left: 16px" (click)="router.navigate(['/carrito'])">
        <custom-icon-svg
          src="icons/carrito-de-compras.svg"
          [color]="'#ff8118'"
        />
      </div>

      <span class="numero-productos">{{ cantidadProductos }}</span>
    </div>
  </div>

  <app-shopping-cart-popup />
</header>
