.container
  display: flex
  width: 100%
  max-width: 1900px
  margin: 0 auto
  padding: 1em
  box-sizing: border-box

  @media (max-width: 768px) // Cambia a diseño de columna en móviles
    flex-direction: column
    gap: 1em // Añade espacio entre las secciones para mayor claridad

.options
  display: flex
  flex-direction: column // Coloca los botones en columna
  width: 20% // Ancho por defecto en pantallas grandes
  padding: 1em
  border-right: 1px solid #ccc
  gap: 1em // Espacio entre botones

  @media (max-width: 768px)
    width: 60% // Ocupa todo el ancho disponible en móviles
    border-right: none // Elimina el borde derecho en móviles
    border-bottom: 1px solid #ccc
    padding: 0
    margin: auto

.content
  width: 80%

  @media (max-width: 768px)
    width: 100% // Ocupa todo el ancho disponible en móviles

.options custom-button
  width: 100% // Los botones ocuparán todo el ancho disponible
  display: block // Asegura el comportamiento de bloque
  text-align: center // Centra el texto en cada botón