
PORT=4000
GMAIL_USER=mike@gmail.com
GMAIL_APP_PASSWORD=password
MONEI_API_KEY=pk_test_example
STRIPE_SECRET_KEY=sk_test_example
SERVER_PUBLIC_URL=http://localhost:4000
CLIENT_BASE_URL=http://localhost:3000
