<form id="payment-form" (submit)="handleSubmit($event)">
  @if (errorMessage) {
    <div id="card-error">{{ errorMessage }}</div>
  }
  <div class="button-group">
    <!--
    <custom-button
      texto="Atrás"
      tipo="secundario"
      (click)="goToPreviousStep()"
      />
      -->
      <custom-button texto="{{ isLoading ? 'Procesando...' : 'Pagar' }}" tipo="primario" [disabled]="isLoading" type="submit" />
      <!--
      <custom-button
        texto="Siguiente"
        tipo="secundario"
        (click)="goToNextStep()"
        />
        -->
      </div>
    </form>
