<footer id="app-footer" class="footer">
  <div class="footer__content">
    <p class="footer__text">&copy; {{ year }} {{ titleShop }}. Todos los derechos reservados.</p>
    <strong>
      {{ footerTextC }}
      <div>
        {{ contactText }}
        <a [href]="'mailto:' + email" style="color: white; text-decoration: none">
          {{ email }}
        </a>
      </div>
    </strong>
    <div class="footer__social">
      @for (social of socialMedia; track social) {
        <a [href]="social.href">
          <custom-icon-svg [src]="social.src" [color]="social.color" [size]="40"/>
        </a>
      }
    </div>

    <nav class="footer__nav">
      @for (link of navLinks; track link) {
        <a class="footer__nav-link" [routerLink]="link.path">
          {{ link.label }}
        </a>
      }
    </nav>
  </div>
</footer>
