<footer>
  <div class="footer-content">
    <p>&copy; {{ year }} {{ titleShop }}. Todos los derechos reservados.</p>
    <strong>
      {{ footerTextC }}
      <div>
        {{ contactText }}
        <a [href]="'mailto:' + email" style="color: white; text-decoration: none">
          {{ email }}
        </a>
      </div>
    </strong>
    <div class="social-media">
      @for (social of socialMedia; track social) {
        <a [href]="social.href">
          <custom-icon-svg [src]="social.src" [color]="social.color" [size]="40"/>
        </a>
      }
    </div>

    <nav class="footer-nav">
      @for (link of navLinks; track link) {
        <a [routerLink]="link.path">
          {{ link.label }}
        </a>
      }
    </nav>
  </div>
</footer>
