<footer>
  <div class="footer-content">
    <p>&copy; {{ year }} {{ titleShop }}. Todos los derechos reservados.</p>
    <strong>
      {{ footerTextC }}
      {{ contactText }}
      <a [href]="'mailto:' + email" style="color: white; text-decoration: none">
        {{ email }}
      </a>
    </strong>
    <div class="social-media">
      <a *ngFor="let social of socialMedia" [href]="social.href">
        <custom-icon-svg [src]="social.src" [color]="social.color"></custom-icon-svg>
      </a>
    </div>

    <nav class="footer-nav">
      <a *ngFor="let link of navLinks" [routerLink]="link.path">
        {{ link.label }}
      </a>
    </nav>
  </div>
</footer>
