<div class="product-content">
  <div class="product-content-card">
    <div class="product-image">
      <img [src]="productData?.imageUrl" alt="{{ productData?.title }}" />
    </div>
    <div class="product-description">
      <h3 class="product-title">{{ productData?.title }}: {{ typeProduct }}</h3>
      <p class="description-text">{{ productData?.description }}</p>

      <div class="price">{{ getPrice() }}€</div>
      <!-- Muestra el precio en euros -->
      <div class="button-father">
        <custom-button
          texto="Añadir a la cesta"
          tipo="secundario"
          (click)="addShoppingBasket()" 
        />
        <custom-button
          texto="Comprar ya"
          tipo="primario"
          (click)="router.navigate(['/carrito'])"
        />
      </div>
    </div>
  </div>
</div>
