<div class="product-content">
  <div class="product-content-card">
    <div class="product-image">
      <img [src]="productData?.imageUrl" alt="{{ productData?.title }}" />
    </div>
    <div class="product-description">
      <div class="product-row">
        <div>
          <h3 class="product-title">{{ productData?.title }}: {{ typeProduct }}</h3>
          <p class="subtitle-text">
            {{ productData?.subtitle }}
          </p>
          <p class="description-text">
            {{ productData?.description }}
          </p>
        </div>

        <div class="price">{{ getPrice() }}€</div>
      </div>

      <div class="choose-details">
        <custom-dropdown-material [(selectedOption)]="selectedOption" [options]="productData?.options || []" />
        <custom-quantity-selector
          [(value)]="quantity"
          (valueChange)="onQuantityChange($event)"
          (click)="$event.stopPropagation(); $event.preventDefault()"
        />
      </div>

      <div class="button-father">
        <custom-button texto="Añadir a la cesta" tipo="secundario" (click)="addShoppingBasket()"></custom-button>
        <custom-button texto="Comprar ya" tipo="primario" (click)="buyNow()"></custom-button>
      </div>
    </div>
  </div>
</div>
