@if (productos.length === 0) {
  <div>
    <p>Tu cesta está vacía.</p>
  </div>
} @else {
  <div class="cart-layout">
    <ul class="product-list">
      @for (producto of productos; track producto) {
        <li>
          <item-shopping-cart
            [producto]="producto"
            (remove)="onRemoveProduct($event)"
            (updateCantidad)="onUpdateCantidad($event.producto, $event.nuevaCantidad)"
          ></item-shopping-cart>
        </li>
      }
    </ul>
    <div class="checkout-column">
      <div class="total-price">
        <div>Subtotal ({{ totalQuantity }} productos):</div>
        <div class="color-price">{{ totalPriceValue }} €</div>
      </div>
      <div class="checkout-button">
        <custom-button texto="Tramitar Pedido" type="submit" tipo="primario" (click)="sendOrder()" />
      </div>
    </div>
  </div>
}

