<div *ngIf="productos.length === 0; else productList">
  <p>Tu cesta está vacía.</p>
</div>

<ng-template #productList>
  <div class="cart-layout">
    <ul class="product-list">
      <li *ngFor="let producto of productos">
        <item-shopping-cart
          [producto]="producto"
          (remove)="onRemoveProduct($event)"
          (updateCantidad)="onUpdateCantidad($event.producto, $event.nuevaCantidad)"
        ></item-shopping-cart>
      </li>
    </ul>
    <div class="checkout-column">
      <div class="total-price">
        <div>Subtotal ({{ totalQuantity }} productos):</div>
        <div class="color-price">{{ totalPriceValue }} €</div>
      </div>
      <div class="checkout-button">
        <custom-button texto="Tramitar Pedido" tipo="primario" (click)="sendOrder()" />
      </div>
    </div>
  </div>
</ng-template>
