.shopping-cart {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  @media (max-width: 576px) {
    padding: 8px;
    .margin {
      margin-top: 10px;
    }
  }
}
