
button
  width: 100%
  border: none
  padding: 10px 20px
  cursor: pointer
  font-size: var(--tamañoTexto2) 
  font-weight: bold
  //  border-radius: 4px
  border-radius: 50px
  transition: background-color 0.3s ease

  &.btn-primario
    background-color: var(--colorPrimary)
    color: white

    &:hover
      background-color: var(--colorPrimaryHover)

  &.btn-secundario
    background-color: var(--colorSecondary)
    color: white

    &:hover
      background-color: var(--colorSecondaryHover)

  &.disabled
    background-color: var(--colorDesactivado)
    color: white
    cursor: not-allowed 
    pointer-events: none 

@media (max-width: 768px)
  button
    padding: 15px 10px
