
:host ::ng-deep .owl-stage {
  display: flex;
  width: 84vw;
  overflow: hidden;
}

.section-carousel {
  padding-top: 10px;
  width: 93%;
  padding-bottom: 20px;
  margin-left: 65px;
}

.container {
  width: 98%;
  margin: inherit;
}

:host ::ng-deep .owl-nav {
  font-weight: bold;
  cursor: pointer;
  display: none;
}

:host ::ng-deep .owl-carousel {
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 20vw;
  height: 325px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorCard);
  text-align: center;
  cursor: pointer;
}


.products-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-title {
  font-weight: bold;
  margin: 10px 0;
}

.product-description {
  line-height: 1.5; /* Altura de línea */
  overflow: hidden; /* Ocultar contenido adicional */
  display: -webkit-box; /* Configurar como caja flex para Webkit */
  display: box; /* Compatibilidad con estándar */
  -webkit-box-orient: vertical; /* Orientación vertical prefijada */
  box-orient: vertical; /* Orientación estándar */
  -webkit-line-clamp: 1; /* Limitar a 1 línea (prefijada) */
  line-clamp: 1; /* Compatibilidad con la propiedad estándar */
  text-overflow: ellipsis; /* Mostrar "..." al final de la línea */
  max-height: 1.5em; /* Altura máxima equivalente a una línea */
  text-align: center; /* Centrar el texto */
}
.product-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.product-tipo {
  font-size: var(--textSizeDetails); 
  font-weight: 900;
}

.product-price {
  font-size: var(--TextSizeHead);
  font-weight: bold;
  color: var(--colorPrimary);
}

@media (max-width: 1024px) {
  .section-carousel {
    margin-left: 30px;
  }

  .card {
    width: 30vw;
  }
}

@media (max-width: 768px) {
  .section-carousel {
    margin-left: 10px;
  }

  .card {
    width: 90%;
    height: auto;
    padding: 15px;
  }
}
