:host {
}

:host ::ng-deep .owl-stage {
  display: flex;
  width: 84vw;
  overflow: hidden;
}

.section-carousel {
  padding-top: 10px;
  width: 93%;
  padding-bottom: 20px;
  margin-left: 65px;
}

.container {
  width: 98%;
  margin: inherit;
}

:host ::ng-deep .owl-nav {
  font-weight: bold;
  cursor: pointer;
  display: none;
}

:host ::ng-deep .owl-carousel {
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 20vw;
  height: 325px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorCard);
  text-align: center;
  cursor: pointer;
}

.product-image-container {
  width: 50%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.product-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.products-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.product-description {
  font-size: 1rem;
  margin: 10px 0;
  flex-grow: 1;
}

.product-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.product-tipo {
  font-size: 14px;
}

.product-price {
  font-size: var(--TextSizeHead);
  font-weight: bold;
  color: var(--colorPrimary);
}

/* Media Queries para dispositivos responsivos */
@media (max-width: 1024px) {
  /* Tablets (iPad y similares) */
  .section-carousel {
    margin-left: 30px; /* Ajusta el valor según sea necesario */
  }

  .card {
    width: 30vw; /* Las tarjetas serán más anchas en tablets */
  }
}

@media (max-width: 768px) {
  /* Móviles */
  .section-carousel {
    margin-left: 10px; /* Ajusta el valor según sea necesario */
  }

  .card {
    width: 90%; /* Las tarjetas ocuparán casi todo el ancho de la pantalla */
    height: auto; /* Permite que la altura sea dinámica */
    padding: 15px; /* Reduce el espacio interno */
  }
}
