.image-content-f {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorCard);
  user-select: none;
}

.image-content {
  width: 200px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  //background: red;
}

.image-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .image-content {
    width: 100%;
    height: 140px;
  }
}
