<div class="content-carousel">
  <ngb-carousel *ngIf="carouselList.length">
    <ng-template ngbSlide *ngFor="let item of carouselList">
      <div class="picsum-img-wrapper">
        <img
          [ngSrc]="item.bannerImg"
          alt="{{ item.title }}"
          width="900"
          height="249"
          priority
        />
      </div>
      <div class="carousel-caption">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
