<mat-stepper
  #stepper="matStepper"
  linear
  (selectionChange)="onStepChange($event)"
>
  <!-- Icono de edición dependiente del paso -->
  <ng-template matStepperIcon="edit">
    <mat-icon>{{ currentStepIcon }}</mat-icon>
  </ng-template>
  <!-- Paso 1: Dirección de Envío -->
  <mat-step label="Dirección de envío" [state]="'home'">
    <ng-template matStepperIcon="home">
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>check_circle</mat-icon>
    </ng-template>

    <div class="step1-checkout">
      <div class="form-container">
        <custom-form (formCompleted)="onFormCompleted($event)" />
      </div>
      <div class="cart-container">
        <custom-shopping-cart-list (click)="nextStep()" />
      </div>
    </div>
  </mat-step>

  <!-- Paso 2: Pago -->
  <mat-step label="Pago" [state]="'cardPay'">
    <ng-template matStepperIcon="cardPay">
      <mat-icon>credit_card</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>check_circle</mat-icon>
    </ng-template>

    <div class="step-content">
      <div class="column">
        <h3>Enviar a:</h3>
        <p><strong>Nombre:</strong> {{ directionShipping.name }}</p>
        <p><strong>Apellidos:</strong> {{ directionShipping.surname }}</p>
        <p><strong>Dirección:</strong> {{ directionShipping.address }}</p>
        <p>
          <strong>Código Postal:</strong> {{ directionShipping.postalCode }}
        </p>
        <p><strong>País:</strong> {{ directionShipping.country }}</p>
        <p><strong>Provincia:</strong> {{ directionShipping.province }}</p>
        <p><strong>Ciudad:</strong> {{ directionShipping.city }}</p>
        <p><strong>Teléfono:</strong> {{ directionShipping.phone }}</p>
      </div>
      <div class="column">
        <form (submit)="pay(); $event.preventDefault()">
          <div class="form-group">
            <label for="card-element"
              >Información de la tarjeta de crédito</label
            >
            <div>Total: 230€</div>
            <app-stripe-field
              (previousStep)="stepper.previous()"
              (nextStep)="stepper.next()"
            />
          </div>
        </form>
      </div>
    </div>
  </mat-step>

  <!-- Paso 3: Factura -->
  <mat-step label="Factura" [state]="'receiptIcon'">
    <ng-template matStepperIcon="receiptIcon">
      <mat-icon>receipt</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>check_circle</mat-icon>
    </ng-template>

    <div class="step-content">
      <custom-button texto="Descargar factura" tipo="primario"></custom-button>
    </div>
    <div>
      <button mat-button (click)="previousStep()">Atrás</button>
    </div>
  </mat-step>
</mat-stepper>
