<mat-stepper #stepper="matStepper" linear (selectionChange)="onStepChange($event)">
  <!-- Icono de edición dependiente del paso -->
  <ng-template matStepperIcon="edit">
    <mat-icon>{{ currentStepIcon }}</mat-icon>
  </ng-template>
  <!-- Step 1: Direction Shipping -->
  <mat-step label="Dirección de envío" [state]="'home'">
    <ng-template matStepperIcon="home">
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>check_circle</mat-icon>
    </ng-template>

    <form [formGroup]="customForm" (ngSubmit)="onSubmit()" class="step1-checkout">
      <div class="form-container">
        <h3>Entrega</h3>
        <app-step1-form [customForm]="customForm" (formCompleted)="onFormCompleted($event)"></app-step1-form>
      </div>
      <div class="cart-container">
        <custom-shopping-cart-list (click)="nextStep()" />
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Payment -->
  <mat-step label="Pago" [state]="'cardPay'">
    <ng-template matStepperIcon="cardPay">
      <mat-icon>credit_card</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>check_circle</mat-icon>
    </ng-template>

    <div class="step-content">
      <div class="column">
        <h3>Entrega</h3>
        <app-step2-direction [directionShipping]="directionShipping" />
      </div>
      <div class="column">
        <div class="form-group custom-card">
          <h3>Pago</h3>
          <div class="">Precio Total: {{ totalPrice }} €</div>
          <div class="">Gastos de envío: {{ shippingCost }} €</div>
          <div class="color-price">Total: {{ totalPrice+shippingCost }} €</div>
          @if (selectedMethodPay === 'monei') {
          <app-monei-credit-card [directionShipping]="directionShipping" (nextStep)="stepper.next()" (previousStep)="stepper.previous()" />
          } @else if (selectedMethodPay === 'redsys') {
          <app-redsys-credit-card [directionShipping]="directionShipping" (nextStep)="stepper.next()" (previousStep)="stepper.previous()" />
          } @else {
          <label for="card-element">Información de la tarjeta de crédito</label>
          <app-stripe-field [directionShipping]="directionShipping" (nextStep)="stepper.next()" (previousStep)="stepper.previous()" />
          }
        </div>
      </div>
    </div>
  </mat-step>

  <!-- Step 3: Invoice/Error -->
  <mat-step label="Factura" [state]="'receiptIcon'">
    <ng-template matStepperIcon="receiptIcon">
      <mat-icon>receipt</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon>check_circle</mat-icon>
    </ng-template>
    <!-- Show error message if isErrorPage is true -->
    @if (isErrorPage) {
    <p style="margin-bottom: 20px; color: red; font-weight: bold">Error en el pago.</p>
    <p style="margin-bottom: 20px">Hubo un problema al procesar tu pago. Por favor, intentalo de nuevo.</p>
    <div class="step-content button-father">
      <custom-button texto="Volver a intentar" tipo="primario" (click)="retryPayment()" />
    </div>
    } @else {
    <div class="custom-card">
      <p style="margin-bottom: 20px">
        <strong>¡Gracias por tu compra en {{ titleShop }}!</strong>
      </p>
      <p><strong>Número de Pedido:</strong> {{ orderId }}</p>
      <p style="margin-bottom: 20px">
        Te hemos enviado un correo electrónico con tu factura adjunta. Si lo prefieres, también puedes descargarla directamente desde aquí:
      </p>

      <div class="step-content button-father">
        <custom-button texto="Descargar factura" tipo="primario" (click)="downloadInvoice()" />
      </div>
    </div>
    }
  </mat-step>
</mat-stepper>
