<div class="form-container">
  <div class="columns-wrapper">
    <div class="column">
      <!-- Campo Nombre -->
      <custom-input
        label="Nombre"
        [control]="getControl('name')"
        [matcher]="matcher"
        errorMessage="El nombre es obligatorio."
        [controlName]="'name'"
      ></custom-input>

      <!-- Campo Dirección -->
      <custom-input
        label="Dirección"
        [control]="getControl('address')"
        [matcher]="matcher"
        errorMessage="La dirección es obligatoria."
        [controlName]="'address'"
      ></custom-input>

      <!-- Campo Teléfono -->
      <custom-input
        label="Teléfono"
        [control]="getControl('phone')"
        [matcher]="matcher"
        errorMessage="El número de teléfono es obligatorio y debe ser válido."
        [controlName]="'phone'"
      ></custom-input>

      <!-- Campo Ciudad -->
      <custom-input
        label="Ciudad"
        [control]="getControl('city')"
        [matcher]="matcher"
        errorMessage="La ciudad es obligatoria."
        [controlName]="'city'"
      ></custom-input>
    </div>

    <div class="column">
      <!-- Campo Apellidos -->
      <custom-input
        label="Apellidos"
        [control]="getControl('surname')"
        [matcher]="matcher"
        errorMessage="Los apellidos son obligatorios."
      ></custom-input>

      <!-- Campo País -->
      <custom-input
        label="País"
        [control]="getControl('country')"
        [matcher]="matcher"
        errorMessage="El país es obligatorio."
        [controlName]="'country'"
      ></custom-input>

      <!-- Campo Código Postal -->
      <custom-input
        label="Código Postal"
        [control]="getControl('postalCode')"
        [matcher]="matcher"
        errorMessage="El código postal es obligatorio."
        [controlName]="'postalCode'"
      ></custom-input>

      <!-- Campo Provincia -->
      <custom-input
        label="Provincia"
        [control]="getControl('province')"
        [matcher]="matcher"
        errorMessage="La provincia es obligatoria."
        [controlName]="'province'"
      ></custom-input>
    </div>
  </div>

  <div class="email">
    <!-- Campo Email -->
    <custom-input
      label="Email"
      [control]="getControl('email')"
      [matcher]="matcher"
      errorMessage="El email debe ser válido."
      [controlName]="'email'"
    ></custom-input>
  </div>
</div>
