<div class="card custom-card" id="my-card" (click)="navigateToProduct(cardData, selectedOption)">
  <component-image [cardData]="cardData" />
  <h1 class="title-card">{{ cardData.title }}</h1>

  @if (isArticle(cardData)) {
    <!-- Si es un artículo -->
    <p class="description-class">
      {{ cardData.bodyTitle }}
    </p>
  } @else {
    <!-- Si NO es un artículo -->

    @if (cardData.subtitle) {
      <span class="subtitle-class">
        {{ cardData.subtitle }}
      </span>
    }
    @if (cardData.description) {
      <span class="description-class">
        {{ cardData.description }}
      </span>
    }
    <div class="card-content-container">
      <div class="price-stock-container">
        @if (selectedPrice) {
          <p class="price-class">{{ selectedPrice }} €</p>
        }

        @if (cardData.stock) {
          <p class="en-stock" style="font-weight: 700; margin-left: 10px">En stock</p>
        } @else {
          <p class="agotado" style="font-weight: 700; margin-left: 10px">Agotado</p>
        }
      </div>

      <div class="quantity-options-row" (click)="$event.stopPropagation()">
        <custom-quantity-selector
          [(value)]="quantity"
          (valueChange)="onQuantityChange($event)"
          (click)="$event.stopPropagation(); $event.preventDefault()"
        />
        <custom-dropdown-material [(selectedOption)]="selectedOption" [options]="cardData.options"></custom-dropdown-material>
      </div>

      <div class="button-row">
        <custom-button
          texto="Añadir a la cesta"
          tipo="primario"
          [disabled]="!cardData.stock || !selectedOption"
          (click)="handleAddToCart(); $event.stopPropagation()"
        />
      </div>
    </div>
  }
</div>
