@import "./custom-theme.scss"

$tamañoTexto1: 20px
$TextSizeHead: 1.5vw
$colorPrimary: #2F7759
$colorBackground: #EAEDED
$colorCard: white
$colorText: black
//$colorBackground: #121212
//$colorPrimary: 177a82
//$colorCard: #312E3F
// Variables CSS dinámicas iniciales
:root
  --tamañoTexto1: #{$tamañoTexto1}
  --TextSizeHead: #{$TextSizeHead}
  --colorPrimary: #{$colorPrimary}
  --bs-body-font-size: #{$tamañoTexto1}
  --bs-heading-color: #{$colorText}
  --colorCard: #{$colorCard}

// Cambios para dispositivos móviles
@media (max-width: 820px)
  :root
    --tamañoTexto1: 11px
    --TextSizeHead: 20px

// Estilos globales
body
  margin: 0
  background-color: #{$colorBackground}
  color: #{$colorText}

.app-container
  background-color: #{$colorBackground}
  color: #{$colorText}

// Estilos de encabezados
h1
  color: #{$colorText}
  font-size: var(--tamañoTexto1)

h2
  margin: 0
  margin-bottom: 0.5em
  font-size: var(--TextSizeHead)

h3
  margin: 0
  margin-bottom: 0.5em
  font-size: calc(var(--TextSizeHead) * 0.9)

h4
  margin: 0
  font-size: calc(var(--TextSizeHead) * 0.8)

// Estilos de mat-form-field
mat-form-field
  width: 230px
  background-color: transparent

  .mat-select
    background-color: #{$colorBackground}
    color: white
    border-radius: 4px

  .mat-select-arrow
    color: white

  .mat-option
    color: black
    background-color: white

    &:hover
      background-color: #e1e1e1

    &.mat-option-selected
      background-color: #cfe3ff
      color: black
