:host
  width: 100%
  display: block

.cards-container
  display: flex
  flex-wrap: wrap
  justify-content: start
  align-items: stretch
  row-gap: 16px
  padding: 12px
  width: 100%

  @media (max-width: 480px)
    padding: 0

.custom-card
  width: calc(33.33% - 13px) // Restar el espacio del margen
  margin-right: 13px
  height: auto
  display: flex
  flex-direction: column
  justify-content: space-between

  @media (max-width: 768px)
    width: calc(49% - 13px)

  @media (max-width: 480px)
    width: 100%
    margin-right: 0 // Eliminar margen en pantallas muy pequeñas

  &:nth-child(3n)
    margin-right: 0 // Eliminar margen para el último elemento de cada fila
