<section class="container">
  @for (section of policy; track section) {
    <div>
      @if (section.title) {
        <h2 [class.highlight-text]="section.isHighlight">{{ section.title }}</h2>
      }
      @if (section.isList) {
        <ul>
          @for (item of section.items; track item) {
            <li>{{ item }}</li>
          }
        </ul>
      } @else {
        @if (section.isHtml) {
          <p [innerHTML]="section.content"></p>
        } @else {
          <p>{{ section.content }}</p>
        }
      }
    </div>
  }
</section>
